* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}
html{
	background-color: #e2cfc3;
}
article {
	padding: 0 5%;
	background-color: #e2cfc3;
	padding-bottom: 100px;
}
.header .col-sm-4{
	margin:0;
	padding: 0;
}


h1, .h1 {
	font-family: 'Merriweather', serif;
	font-size: 50px;
	font-size: 6vw;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
	text-align: center;
}
h2 {
	font-family: 'Merriweather', serif;
	color: #51453B;
  font-size: 4vw;
	font-weight: 600;
	padding-left: 3vw;
}
h3 {
	font-size:3vw;
	padding-top: 6vw;
	padding-bottom: 3vw;
}
p {
	font-size:2vw;
}
.white-text{
	color: #ffffff;
}
.yellow-text{
	color: #F7FF33;
}
.yellow-background{
	background-color: #F7FF33;
}

.red-text{
	color: #FF334C;
}
.red-background{
	background-color: #FF334C;
}
.blue-text{
	color: #3387FF;
}
.blue-background{
	background-color: #3387FF;
}
.light-green-text{
	color: #34ed87
}
.light-green-background{
	background-color: #34ed87;
}

.header {
	padding: 24px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
#a {order:1}
#b {order:2}
#c {order:3}
/*.home, .log-in{
	width: 50%;
}*/
.log-in{
	float:right;
}
.float-right{
	float: left;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.photo-wrapper{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.header span{
	width: 50%;
}
.row{
	margin:0;
}


.a1 {
	font-family: 'Merriweather', serif;
	color: #3387FF;
	font-size: 18px;
	font-size: 1.5vw;
}
.a1:hover {
	text-decoration: none;
	color:#9e9eef;
}
.a2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 800;
	font-size: 2vw;
	display: block;
	line-height: 80px;
	line-height: 7vw;
	width: 240px;
	width: 20vw;
	border-radius: 12px;
	border-radius: 1vw;
	text-align:center;
	vertical-align: middle;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}
.a2:hover{
	text-decoration: none;
	color: #fff;
	background-color:#9e9eef;
}
.a3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2vw;
}
.lib-btn.a2{
	display:inline-block
}
.a4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 800;
	font-size: 2vw;
	display: block;
	width: 240px;
	width: 20vw;
	border-radius: 12px;
	border-radius: 1vw;
	text-align:center;
	vertical-align: middle;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}
.a4:hover{
	text-decoration: none;
	color: #fff;
	background-color:#9e9eef;
}
form {
	width: 100%;
}
button {
	border:none;
}
i{
	margin-right: 8px;
}


.home i{
	font-size: 20px;
	font-size: 1.6667vw;
	padding-right: 5px;
}
.photo-wrapper{
	margin-right: 12px;
	margin-right: 1vw;
}


.banner{
	background-image: url("banner.jpg");
	background-size: cover;
	position:relative;
	display: flex;
	align-items: center;

}
.banner h2{
	position: relative;
	z-index: 1
}
.opacity-layer{
	width:100%;
	height:100%;
	position:absolute;
	background: linear-gradient(to right, rgba(229, 249, 247,0.8) 0%, rgba(229, 249, 247,0.7) 35%,rgba(229, 249, 247,0.6) 50%,rgba(229, 249, 247,0) 80%);
	z-index: 0;
}


.btn {
	padding: 20px;
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}



.banner {
	height:235px;
	height:20vw;
}

.item-library{
	padding: 1.5vw 0;
}



.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

 /*****************   MOBILE STYLE   *********************/
@media screen and (max-width: 768px){
	.header .a1{
		font-size:12px;
	}
}
@media  screen and (max-width: 576px){
	#b {order:3}
	#c {order:2}
	.header.row{
		padding-bottom:0;
		padding-top: 5px;
	}
	.home{width:50%;}
	.log-in{width:50%;}
	.banner{height:110px;}
  h1, .h1{
		font-size: 35px;
		text-align: left;
		margin:0;
	}
	h2{font-size:18px;}
	h3{
		font-size: 15px;
	}
	.a1{font-size: 12px;}
	.a2{font-size: 12px;
	width:45%;}
	.a3{font-size:15px;}
	.a4{font-size:15px;}
	p{font-size:12px;}
}
