{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row banner">
			<h2>{{ library.name }}
			</h2>
			<div class="opacity-layer"></div>

	</div>


<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
					{% if session.email %}
					<a class="lib-btn a2 white-text blue-background" href="{{url_for('editLibrary',library_id=library.id)}}">
							Edit Library
					</a>
					<a class="lib-btn a2 white-text blue-background" href="{{url_for('newBook',library_id=library.id)}}">
							Add Book
					</a>
					<a class="lib-btn a2 white-text blue-background" href="{{url_for('deleteLibrary', library_id = library.id )}}">
							<i class="fa fa-trash-o" aria-hidden="true"></i>Delete Library
					</a>
					{% endif %}

			<a class="a2 white-text red-background" href="{{url_for('showLibraries')}}">
					Back to library list
			</a>
	</div>

	{% if books !=[] %}
	  {% for book in books%}
		<div class="book-wrapper">
		  <div><h3>{{book.name}}</h3></div>
			<p>Author: {{book.author}}</p>
			<p>Published year: {{book.published_year}}</p>
			<p>Description: {{book.description}}</p>
			{% if session.email %}
			<a class="a4 light-green-background white-text" href="{{url_for('editBook',library_id=library.id, book_id=book.id)}}">Edit</a>
			<a class="a4 red-background white-text" href="{{url_for('deleteBook',library_id=library.id, book_id=book.id)}}">
				<i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>
			{% endif %}
		</div>
			{% endfor %}

	{% endif %}
{% endblock %}
