{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ library.name }}
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Book creator's name goes here</figcaption>
			</figure>
			</h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
			<a href="{{url_for('editLibrary',library_id=library.id)}}">
				<button class="btn btn-default" id="new-menu-item">
					Edit Library
				</button>
			</a>
			<a href="{{url_for('newBook',library_id=library.id)}}">
				<button class="btn btn-default" id="new-menu-item">
					Add Book
				</button>
			</a>
						<a href="{{url_for('deleteLibrary', library_id = library.id )}}">
				<button class="btn btn-default delete" id="delete-library">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Library
				</button>
			</a>
			<a href="{{url_for('showLibraries')}}">
				<button class="btn btn-default delete" id="delete-library">
					Go back to library list
				</button>
			</a>
	</div>

	{% if books !=[] %}
	  {% for book in books%}
		  <div>{{book.name}}</div>
			<div>Author: {{book.author}}</div>
			<div>Published year: {{book.published_year}}</div>
			<div>Description: {{book.description}}</div>
			<div><a href="{{url_for('editBook',library_id=library.id, book_id=book.id)}}">Edit</a></div>
			<div><a href="{{url_for('deleteBook',library_id=library.id, book_id=book.id)}}">Delete</a></div>


			{% endfor %}

	{% endif %}
{% endblock %}
