

<div class="header row">
	<div id="a" class="home col-sm-4">
		<a class="a1" href="{{url_for('showLibraries')}}">
			<i class="fa fa-home" aria-hidden="true"></i>Home
		</a>
	</div>
	<div id="c" class="log-in text-right col-sm-4 float-right">
		    {% if not session.email %}
					<a class="a1" href="{{url_for('showLogin')}}">Login</a>
				{% else %}
				  {% if session.picture%}
				  <img class="photo-wrapper" src="{{session.picture}}">
					{% endif %}

          <a class="a1" href="{{url_for('gdisconnect')}}">Log out</a>
        {% endif %}
	</div>
	<div id="b" class="col-sm-4">
		<div class="h1">Libraries</div>
	</div>

</div>
