{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

		<div class="banner">
		</div>
  <div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}

				<ul>
				{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
				</ul>
				{% endif %}
			{% endwith %}
	</div>

	{% if session.email %}
	<a class="a2 white-text blue-background" href="{{url_for('newLibrary')}}">
		Add new library
	</a>
	<!-- <a href="#" style="width:50px; height: 80px; background-color:white;">test</a><span>test1</span> -->
	{% endif %}

	{% for library in libraries %}
	<div class="item-library">
		<a class="a3" href = "{{url_for('showBooks', library_id = library.id)}}">
		{{library.name}}
		</a>
		<!-- <p>{{login_flag}}</p> -->
	</div>
	{% endfor %}

	{% endblock %}
