{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Library</h1>
		</div>

		<form action="#" method = "post">
			<label for="name">Name:</label>
			<input type ="text" class="form-control" maxlength="100" name="name" required="required">
			<button type="submit" class="a2 light-green-background white-text" id="submit" type="submit">Create</button>
			<!-- <a href="#" onclick="document.getElementById('new_library').submit();" class="a2">Create</a> -->
		</form>
		<a class="a2 red-background white-text" href = '{{url_for('showLibraries')}}'>Cancel
		</a>


{% endblock %}
